body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, footer {
  padding: 20px;
  background-color: #f0f0f0;
  transition: background-color 5s, color 5s;
}

main {
  padding: 20px;
  transition: background-color 5s, color 5s;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* Dark mode styles */
/* Only apply to a main inside a body
that has class dark-mode */

body.dark-mode header, body.dark-mode footer {
  background-color: black;
  color: white;
}

body.dark-mode main {
  background-color: darkblue;
  color: white;
}

.flipped {
  transform: rotate(180deg);
}

#instructions {
  transition: transform 1s;
}